<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/styles-light.css">
    <link rel="stylesheet" href="styles/styles-dark.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <title>Канбан</title>
</head>
<body>
    <div class="all-content" :class="[isDarkModeOn ? 'all-content-d' : '']">
        <div class="all-content__inner">
			<transition name="fade">
				<div class="modal-container" v-show="isShowIWM">
					<form class="modal-container__input-woker-form" action="#" :class="[isDarkModeOn ? 'modal-container__input-woker-form-d' : '']">
						<label class="modal-label">
							Ответственный
							<input type="text" placeholder="Введите ФИО" class="modal-input-text" v-model="curWorker">
						</label>
						<button type="submit" class="form-sub-btn" v-on:click="closeWorkerModal">➔</button>
					</form>
				</div>
			</transition>
			<transition name="fade">
				<div class="modal-container" v-show="isShowTR">
					<form class="modal-container__redact-task" action="#" :class="[isDarkModeOn ? 'modal-container__input-woker-form-d' : '']">
						<label class="modal-label">
							Описание
							<input type="text" placeholder="Введите описание" class="modal-input-text" v-model="task_name_r">
						</label>
						<label class="modal-label">
							Статус
							<select name="" v-model="status_r" class="modal-input-text">
								<option selected disabled value="">Выберите статус</option>
								<option value="inPlan">План</option>
								<option value="inWork">В работе</option>
								<option value="ready">Готово</option>
							</select>
						</label>
						<label class="modal-label">
							Ответственный
							<input type="text" placeholder="Введите ФИО" class="modal-input-text" v-model="worker_r" :disabled="status_r == 'inPlan'">
						</label>
						<label class="modal-label">
							Дата и время начала
							<input type="text" placeholder="Введите дату и время начала" class="modal-input-text" v-model="date_start_r" :disabled="status_r == 'inPlan'">
						</label>
						<label class="modal-label">
							Дата и время завершения
							<input type="text" placeholder="Введите дату и время завершения" class="modal-input-text" v-model="date_end_r" :disabled="!(status_r == 'ready')">
						</label>
						<button type="submit" class="form-sub-btn" v-on:click="redactTask">➔</button>
						<button type="submit" class="form-close-btn" v-on:click="isShowTR=false">×</button>
					</form>
				</div>
			</transition>
            <header class="header">
                <div class="header__title" :class="[isDarkModeOn ? 'header__title-d' : '']">
                    Канбан-доска
                </div>
                <div class="header__about-author" :class="[isDarkModeOn ? 'header__about-author-d' : '']">
                    Пужайкин Максим 191-361
                </div>
				<div class="header__dark-theme">
					<h2 :class="[isDarkModeOn ? 'header__dark-theme-text-d' : '']">Тёмная тема</h2>
					<label class="header__switch">
						<input type="checkbox" v-model="isDarkModeOn">
						<span class="header__slider"></span>
					</label>
				</div>
            </header>
            <main class="main">
                <div class="add-task">
                    <label class="add-task__label" :class="[isDarkModeOn ? 'add-task__label-d' : '']">Добавить новую задачу
                        <input type="text" placeholder="Описание" class="add-task__input" v-model="newTaskName" :class="[isDarkModeOn ? 'add-task__input-d' : '']">
                    </label>
                    <button class="add-task__button" v-on:click="addTask" :class="[isDarkModeOn ? 'add-task__button-d' : '']">
                        <span></span>
                    </button>
                </div>
                <div class="cards">
                    <div class="card" @drop="onDrop($event,1)" @dragover.prevent @dragenter.prevent :class="[isDarkModeOn ? 'card-d' : '']">
                        <h2 class="card__title">План ({{tasksInPlan.length}})</h2>
                        <div class="task" v-for="card_info in tasksInPlan" v-bind:key="card_info.task_id" draggable @dragstart="startDrag($event, card_info)" :class="[isDarkModeOn ? 'task-d' : '']">
                            <h3>Задача {{card_info.task_id}}</h3>
                            <p>{{card_info.task_name}}</p>
                            <div class="task__wrap-img">
								<button v-on:click="openTaskRedactor(card_info)">
									<svg class="svg-edit" viewBox="0 -1 401.52289 401"
										style="width: 100%;" xmlns="http://www.w3.org/2000/svg">
										<path
											d="m370.589844 250.972656c-5.523438 0-10 4.476563-10 10v88.789063c-.019532 16.5625-13.4375 29.984375-30 30h-280.589844c-16.5625-.015625-29.980469-13.4375-30-30v-260.589844c.019531-16.558594 13.4375-29.980469 30-30h88.789062c5.523438 0 10-4.476563 10-10 0-5.519531-4.476562-10-10-10h-88.789062c-27.601562.03125-49.96875 22.398437-50 50v260.59375c.03125 27.601563 22.398438 49.96875 50 50h280.589844c27.601562-.03125 49.96875-22.398437 50-50v-88.792969c0-5.523437-4.476563-10-10-10zm0 0" />
										<path
											d="m376.628906 13.441406c-17.574218-17.574218-46.066406-17.574218-63.640625 0l-178.40625 178.40625c-1.222656 1.222656-2.105469 2.738282-2.566406 4.402344l-23.460937 84.699219c-.964844 3.472656.015624 7.191406 2.5625 9.742187 2.550781 2.546875 6.269531 3.527344 9.742187 2.566406l84.699219-23.464843c1.664062-.460938 3.179687-1.34375 4.402344-2.566407l178.402343-178.410156c17.546875-17.585937 17.546875-46.054687 0-63.640625zm-220.257812 184.90625 146.011718-146.015625 47.089844 47.089844-146.015625 146.015625zm-9.40625 18.875 37.621094 37.625-52.039063 14.417969zm227.257812-142.546875-10.605468 10.605469-47.09375-47.09375 10.609374-10.605469c9.761719-9.761719 25.589844-9.761719 35.351563 0l11.738281 11.734375c9.746094 9.773438 9.746094 25.589844 0 35.359375zm0 0" />
									</svg>
								</button>
								<button v-on:click="changeStatus(card_info)">
									<svg class="svg-complite" version="1.1" id="Capa_1"
										xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
										viewBox="0 0 415.869 415.869" style="width: 100%;" xml:space="preserve">
										<path d="M193.306,282.645L193.306,282.645c-4.702,0-8.882-2.09-11.494-5.224l-78.89-85.682
										c-5.747-6.269-5.224-16.196,1.045-21.943c6.269-5.747,16.196-5.224,21.943,1.045l67.918,73.665L381.91,56.947
										c6.269-6.269,16.196-6.269,21.943,0c6.269,6.269,6.269,16.196,0,21.943L204.278,277.943
										C201.665,281.078,197.486,282.645,193.306,282.645z" />
										<path d="M207.935,415.869C93.518,415.869,0,322.351,0,207.935S93.518,0,207.935,0
										c8.882,0,15.673,6.792,15.673,15.673s-6.792,15.673-15.673,15.673c-97.176,0-176.588,79.412-176.588,176.588
										s79.412,176.588,176.588,176.588s176.588-79.412,176.588-176.588c0-8.882,6.792-15.673,15.673-15.673s15.673,6.792,15.673,15.673
										C415.869,322.351,322.351,415.869,207.935,415.869z" />
									</svg>
								</button>
							</div>
                        </div>
                    </div>
                    <div class="card" @drop="onDrop($event,2)" @dragover.prevent @dragenter.prevent :class="[isDarkModeOn ? 'card-d' : '']">
                        <h2 class="card__title">В процессе ({{tasksInWork.length}})</h2>
                        <div class="task" v-for="card_info in tasksInWork" v-bind:key="card_info.task_id" draggable @dragstart="startDrag($event, card_info)" :class="[isDarkModeOn ? 'task-d' : '']">
                            <h3>Задача {{card_info.task_id}}</h3>
                            <h4>{{card_info.task_name}}</h4>
                            <h4>Дата и время начала</h4>
                            <p>{{card_info.date_start}}</p>
							<h4>Ответственный</h4>
                            <p>{{card_info.worker}}</p>
                            <div class="task__wrap-img">
								<button v-on:click="openTaskRedactor(card_info)">
									<svg class="svg-edit" viewBox="0 -1 401.52289 401"
										style="width: 100%;" xmlns="http://www.w3.org/2000/svg">
										<path
											d="m370.589844 250.972656c-5.523438 0-10 4.476563-10 10v88.789063c-.019532 16.5625-13.4375 29.984375-30 30h-280.589844c-16.5625-.015625-29.980469-13.4375-30-30v-260.589844c.019531-16.558594 13.4375-29.980469 30-30h88.789062c5.523438 0 10-4.476563 10-10 0-5.519531-4.476562-10-10-10h-88.789062c-27.601562.03125-49.96875 22.398437-50 50v260.59375c.03125 27.601563 22.398438 49.96875 50 50h280.589844c27.601562-.03125 49.96875-22.398437 50-50v-88.792969c0-5.523437-4.476563-10-10-10zm0 0" />
										<path
											d="m376.628906 13.441406c-17.574218-17.574218-46.066406-17.574218-63.640625 0l-178.40625 178.40625c-1.222656 1.222656-2.105469 2.738282-2.566406 4.402344l-23.460937 84.699219c-.964844 3.472656.015624 7.191406 2.5625 9.742187 2.550781 2.546875 6.269531 3.527344 9.742187 2.566406l84.699219-23.464843c1.664062-.460938 3.179687-1.34375 4.402344-2.566407l178.402343-178.410156c17.546875-17.585937 17.546875-46.054687 0-63.640625zm-220.257812 184.90625 146.011718-146.015625 47.089844 47.089844-146.015625 146.015625zm-9.40625 18.875 37.621094 37.625-52.039063 14.417969zm227.257812-142.546875-10.605468 10.605469-47.09375-47.09375 10.609374-10.605469c9.761719-9.761719 25.589844-9.761719 35.351563 0l11.738281 11.734375c9.746094 9.773438 9.746094 25.589844 0 35.359375zm0 0" />
									</svg>
								</button>
								<button v-on:click="changeStatus(card_info)">
									<svg class="svg-complite" version="1.1" id="Capa_1"
										xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
										viewBox="0 0 415.869 415.869" style="width: 100%;" xml:space="preserve">
										<path d="M193.306,282.645L193.306,282.645c-4.702,0-8.882-2.09-11.494-5.224l-78.89-85.682
										c-5.747-6.269-5.224-16.196,1.045-21.943c6.269-5.747,16.196-5.224,21.943,1.045l67.918,73.665L381.91,56.947
										c6.269-6.269,16.196-6.269,21.943,0c6.269,6.269,6.269,16.196,0,21.943L204.278,277.943
										C201.665,281.078,197.486,282.645,193.306,282.645z" />
										<path d="M207.935,415.869C93.518,415.869,0,322.351,0,207.935S93.518,0,207.935,0
										c8.882,0,15.673,6.792,15.673,15.673s-6.792,15.673-15.673,15.673c-97.176,0-176.588,79.412-176.588,176.588
										s79.412,176.588,176.588,176.588s176.588-79.412,176.588-176.588c0-8.882,6.792-15.673,15.673-15.673s15.673,6.792,15.673,15.673
										C415.869,322.351,322.351,415.869,207.935,415.869z" />
									</svg>
								</button>
							</div>
                        </div>
                    </div>
                    <div class="card" @drop="onDrop($event,3)" @dragover.prevent @dragenter.prevent :class="[isDarkModeOn ? 'card-d' : '']">
                        <h2 class="card__title">Готово ({{tasksReady.length}})</h2>
                        <div class="task" v-for="card_info in tasksReady" v-bind:key="card_info.task_id" draggable @dragstart="startDrag($event, card_info)" :class="[isDarkModeOn ? 'task-d' : '']">
                            <h3>Задача {{card_info.task_id}}</h3>
                            <h4>{{card_info.task_name}}</h4>
                            <h4>Количество потраченного времени</h4>
                            <p>{{card_info.time_wasted}}</p>
                            <h4>Дата и время начала</h4>
                            <p>{{card_info.date_start}}</p>
							<h4>Дата и время окончания</h4>
                            <p>{{card_info.date_end}}</p>
							<h4>Ответственный</h4>
                            <p>{{card_info.worker}}</p>
                            <div class="task__wrap-img">
								<button v-on:click="openTaskRedactor(card_info)">
									<svg class="svg-edit" viewBox="0 -1 401.52289 401"
										style="width: 100%;" xmlns="http://www.w3.org/2000/svg">
										<path
											d="m370.589844 250.972656c-5.523438 0-10 4.476563-10 10v88.789063c-.019532 16.5625-13.4375 29.984375-30 30h-280.589844c-16.5625-.015625-29.980469-13.4375-30-30v-260.589844c.019531-16.558594 13.4375-29.980469 30-30h88.789062c5.523438 0 10-4.476563 10-10 0-5.519531-4.476562-10-10-10h-88.789062c-27.601562.03125-49.96875 22.398437-50 50v260.59375c.03125 27.601563 22.398438 49.96875 50 50h280.589844c27.601562-.03125 49.96875-22.398437 50-50v-88.792969c0-5.523437-4.476563-10-10-10zm0 0" />
										<path
											d="m376.628906 13.441406c-17.574218-17.574218-46.066406-17.574218-63.640625 0l-178.40625 178.40625c-1.222656 1.222656-2.105469 2.738282-2.566406 4.402344l-23.460937 84.699219c-.964844 3.472656.015624 7.191406 2.5625 9.742187 2.550781 2.546875 6.269531 3.527344 9.742187 2.566406l84.699219-23.464843c1.664062-.460938 3.179687-1.34375 4.402344-2.566407l178.402343-178.410156c17.546875-17.585937 17.546875-46.054687 0-63.640625zm-220.257812 184.90625 146.011718-146.015625 47.089844 47.089844-146.015625 146.015625zm-9.40625 18.875 37.621094 37.625-52.039063 14.417969zm227.257812-142.546875-10.605468 10.605469-47.09375-47.09375 10.609374-10.605469c9.761719-9.761719 25.589844-9.761719 35.351563 0l11.738281 11.734375c9.746094 9.773438 9.746094 25.589844 0 35.359375zm0 0" />
									</svg>
								</button>
                                <button v-on:click="changeStatus(card_info)">
									<svg class="svg-del" viewBox="0 0 512 512"
										xmlns="http://www.w3.org/2000/svg">
										<path
											d="m256 512c-141.164062 0-256-114.835938-256-256s114.835938-256 256-256 256 114.835938 256 256-114.835938 256-256 256zm0-480c-123.519531 0-224 100.480469-224 224s100.480469 224 224 224 224-100.480469 224-224-100.480469-224-224-224zm0 0" />
										<path
											d="m176.8125 351.1875c-4.097656 0-8.195312-1.554688-11.308594-4.691406-6.25-6.25-6.25-16.382813 0-22.632813l158.398438-158.402343c6.253906-6.25 16.386718-6.25 22.636718 0s6.25 16.382812 0 22.636718l-158.402343 158.398438c-3.15625 3.136718-7.25 4.691406-11.324219 4.691406zm0 0" />
										<path
											d="m335.1875 351.1875c-4.09375 0-8.191406-1.554688-11.304688-4.691406l-158.398437-158.378906c-6.253906-6.25-6.253906-16.382813 0-22.632813 6.25-6.253906 16.382813-6.253906 22.632813 0l158.398437 158.398437c6.253906 6.25 6.253906 16.382813 0 22.632813-3.132813 3.117187-7.230469 4.671875-11.328125 4.671875zm0 0" />
									</svg>
								</button>    
							</div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
    <script src="js/main.js"></script>
</body>
</html>