.grid_container {
	display: grid;
	grid-template-columns: 2fr 1fr; /* fr -  это единица измерения, которая представляет собой долю доступного пространства в грид контейнере */
    grid-template-rows: 50px 75px;
    grid-gap: 5%;
	width: 800px;
	height: 200px;
}

.item {
	background-color: #712;
	border-radius: 5px;
	border-style: solid;
}

.grid_auto_flow {
	display: grid;
    grid-gap: 5%;
	grid-auto-flow: column dense;
	width: 800px;
	height: 200px;
}

.auto_flow_test_elem1 {
	background-color: #712;
	border-radius: 5px;
	border-style: solid;
	grid-column: 1;
	grid-row: 1/3;
}

.auto_flow_test_elem2 {
	background-color: #712;
	border-radius: 5px;
	border-style: solid;
	grid-column: 3;
	grid-row: 1/3;
}

.auto_flow_test_elem3 {
	background-color: #712;
	border-radius: 5px;
	border-style: solid;
}

.auto_flow_test_elem4 {
	background-color: #712;
	border-radius: 5px;
	border-style: solid;
}

.grid_self_test {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 75px 75px 75px 75px;
	grid-gap: 5%;
	width: 800px;
	height: 375px;
}

.grid_template {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(3, 100px);
	grid-row-gap: 20px;
	grid-column-gap: 10px;
	grid-template-areas: "header header header header" "sidebar content content content" "sidebar footer footer footer";
	width: 800px;
	height: 500px;
}

.template_item1 {
	grid-area: header;
}

.template_item2 {
	grid-area: sidebar;
}

.template_item3 {
	grid-area: content;
}

.template_item4 {
	grid-area: footer;
}

.stretch {
	justify-self: stretch;
}

.start {
	justify-self: start;
}

.end {
	justify-self: end;
}

.center {
	justify-self: center;
}

.row_stretch {
	align-self: stretch;
}

.row_start {
	align-self: start;
}

.row_end {
	align-self: end;
}

.row_center {
	align-self: center;
}

.grid_ram {
	display: grid;
	grid-gap: 5%;
	grid-template-columns: minmax(50px, 600px) 1fr 1fr;
	height: 75px;
}