.box {
	background: orange;
	border-radius: 10px;
	padding-left: 5px;
}

.box:before {
	display: block;
}

.a:before {
	content: "Доход: 5млд долларов в день";
}

.b:before {
	content: "Количество клиентов: 2281488 в день";
}

.c:before {
	content: "Качество работы: Лучшее на рынке";
}