.spaceship {
    width: 200px;
    position: absolute;
    top:500px;
    left: 1000px;
    animation-name: animation;
    animation: animation 2.5s ease-in infinite;
    z-index: 2;
}

.main_part {
    height: 200px;
    width: 100px;
    background-color: #ccc;
    margin: 0 auto;
}

.lower_part {
    height: 75px;
    width: 100px;
    background-color: rgb(113, 113, 126);
}

.low {
    display: flex;
    width: 170px;
    margin: 0 auto;
}

.left_side {
    width: 35px;
    height: 75px;
}

.right_side {
    width: 35px;
    height: 75px;
}

.cone {
    margin: 0 auto;
    width:100px;
    height: 125px;
}

.sun {
    background-color: white;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
    left: 200px;
    top: 100px;
    animation: sun_animation 3s infinite;
    z-index: 0;
    transition: all 2s;
}

.rays {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.sun:hover {
    background-color: yellow;
}

.sun_rays {
    position: absolute;
    left: 150px;
    top: 50px;
    border-radius: 50%;
    z-index: -2;
    width: 300px;
    height: 300px;
    background: repeating-conic-gradient(rgba(255,255,255,0) 5%, rgba(255,255,255,0.05) 7%);
    animation: rays_anim 20s linear infinite;
}

@keyframes rays_anim {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes sun_animation {
    0% {
        box-shadow: 0px 0px 15px white;
    }

    50% {
        box-shadow: 0px 0px 25px white;
    }

    100% {
        box-shadow: 0px 0px 15px white;
    }
}

@keyframes animation {
    50% {
        top: 470px;
    }
    100% {
        top: 500px;
    }
}

.trail {
    background: rgb(255,252,251);
    background: linear-gradient(0deg, rgba(255, 252, 251, 0) 0%, rgba(249,90,90,1) 55%, rgba(255,0,0,1) 100%);
    width: 50px;
    height: 200px;
    margin: 0 auto;
}

body {
    height: 100vh;
    background: linear-gradient(to bottom, #143e66e8 0%, #4678ff 70%, #cfd3f7 100%);
    overflow: hidden;
}

.cloud1 {
    position: absolute;
    top: -500px;
    animation: cloudAnim 7s linear infinite;
    z-index: 1;
}

.cloud2 {
    position: absolute;
    left: 1200px;
    top: -300px;
    animation: cloudAnim 9s linear infinite;
    z-index: 1;
}

.cloud3 {
    position: absolute;
    left: 560px;
    top: -700px;
    animation: cloudAnim 7s linear infinite;
    z-index: 1;
}

.cloud4 {
    position: absolute;
    left: 1500px;
    top: -350px;
    animation: cloudAnim 7s linear infinite;
    z-index: 1;
}

.cloud5 {
    position: absolute;
    left: 1050px;
    top: -100px;
    animation: cloudAnim 5s linear infinite;
    z-index: 1;
}

.cloud6 {
    position: absolute;
    left: 500px;
    top: -800px;
    z-index: 3;
    animation: cloudAnim 9s linear infinite;
}

.cloud7 {
    position: absolute;
    left: 1340px;
    top: -250px;
    animation: cloudAnim 12s linear infinite;
    z-index: 1;
}

@keyframes cloudAnim {
    100% {
        top: 1400px;
    }
}