.box {
	background: orange;
	border-radius: 10px;
	padding-left: 5px;
}

.box:before {
	display: block;
}

.a:before {
	content: "Доход: 5млд долларов в день";
}

.b:before {
	content: "Количество клиентов: 2281488 в день";
}

.c:before {
	content: "Качество работы: Лучшее на рынке";
}

.bl {
	font-size: 32px;
}

.margin-top {
	margin-top: 50px;
}

.res {
	display: none;
}

@media print {
	@page {
		margin-left: 3cm;
		margin-right: 1cm;
	}
	
	a[href]:after {
        content: " (" attr(href) ")";
    }
    a[href^="http"]:not([href*="mospolytech.ru"]):after {
        content: " (" attr(href) ")";
    }
	
	@page {
		size: A4;
		margin: 1cm;
	}
	
	.margin-top {
		margin-top: 0px;
	}
	
	.res {
		font-weight: normal;
		font-size: 14px;
		font-family: 'Times New Roman';
		color: #000;
		display: block;
	}
	
	body {
        font-size: 1.15em;
        text-align: left;
    }
	
	.display-none {
		display: none;
	}
	
	img {
		width: 50%;
	}
	
	h2 {
		page-break-after: always;
	}
	
	p {
		text-align: left;
		color: #000;
	}
	
	.bl {
		text-align: left;
		font-size: 12px;
	}
	
	.print_h3 {
		font-weight: normal;
		font-size: 14px;
		font-family: 'Times New Roman';
		color: #000;
	}
	
	.print_h1 {
		font-weight: normal;
		font-size: 18px;
		font-family: 'Times New Roman';
		color: #000;
	}
}