@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;800&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}

html, body, div, span, applet, object, iframe,
blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

button {
	background: none;
	cursor: pointer;
    border-style: none;
}

html {
    box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
}

.header__title {
    font-weight: 800;
    font-size: 32px;
    transition: .4s;
}

.header__about-author {
    font-weight: 800;
    font-size: 25px;
}

.header {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.all-content__inner {
    width: 80%;
    margin: 0 auto;
}

.header__switch input {
    display: none;
}

.header__switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.header__dark-theme p {
    color: black;
}

.header__dark-theme {
    display: flex;
    align-items: center;
    width: 250px;
    justify-content: space-between;
    transition: .4s;
}

.all-content {
    min-height: 100vh;
    transition: .4s;
}

.header__slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0, 204, 255);
    transition: .4s;
    border-radius: 34px;
}

.header__slider:before {
    border-radius: 50%;
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
}

input:checked + .header__slider {
    background-color: rgb(9, 54, 112);
}

input:checked + .header__slider::before {
    transform: translateX(26px);
}

.add-task__button {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    transition: 0.5s;
}

.modal-container__input-woker-form {
    height: 200px;
    width: 500px;
    background-color: rgb(9, 54, 112);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 6px solid aquamarine;
    position: fixed;
    transition: .4s;
}

.modal-input-text:focus {
    outline: none;
    border: solid 3px rgb(96, 96, 204);
    background-color: rgb(83, 0, 192);
    color: whitesmoke;
}

.modal-container__redact-task {
    height: 800px;
    width: 500px;
    background-color: rgb(9, 54, 112);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 6px solid aquamarine;
    position: fixed;
    transition: .4s;
}

.modal-label {
    display: flex;
    flex-direction: column;
    height: 70px;
    justify-content: space-between;
    font-size: 24px;
    color: whitesmoke;
    font-weight: 600;
    text-align: center;
    transition: .4s;
}

.modal-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    min-width: 80%;
}

.modal-input-text {
    height: 35px;
    width: 350px;
    border-radius: 7px;
    font-size: 22px;
    font-weight: 600px;
    transition: 1.5s;
    border: none;
}

.form-sub-btn {
    background-color: rgb(0, 195, 255);
    width: 200px;
    height: 40px;
    font-size: 28px;
    color: white;
    border-radius: 20px;
}

.form-close-btn {
    height: 50px;
    width: 50px;
    background-color: rgb(0, 195, 255);
    color: white;
    font-size: 36px;
    border-radius: 50%;
}

.fade-enter-active,
.fade-leave-active {
	transition: .5s;
}

.fade-enter,
.fade-leave-to {
	opacity: 0;
}

.add-task__button span,
.add-task__button span:after {
    content: '';
	background: #fff;
	width: 4px;
	height: 20px;
	position: absolute;
	transition: .4s;
    border-radius: 2px;
}

.add-task__button span:after {
    transform: translate(-1px) rotate(90deg);
}

.add-task {
    display: flex;
    align-items: flex-end;
}

.add-task__button:hover {
    background-color: blue;
}

.add-task__input {
    height: 40px;
    width: 350px;
    border-radius: 10px;
    border: solid 2px aqua;
    background-color: rgba(144, 247, 241, 0.685);
    padding-left: 10px;
    color: white;
    font-family: 'Montserrat';
    transition: 0.5s;
    font-weight: 600;
    font-size: 16px;
}

.add-task__input:focus {
    outline: none;
    border: solid 2px blue;
}

.add-task__input::placeholder {
    color: white;
    font-weight: 600;
    font-size: 18px;
    transition: .4s;
}

.add-task__label {
    display: flex;
    flex-direction: column;
    color: aqua;
    height: 70px;
    justify-content: space-between;
    font-weight: 600px;
    font-size: 20px;
    transition: .4s;
}

.cards {
    min-height: 700px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 30px;
    transition: .4s;
}

.card {
    width: 340px;
    min-height: 300px;
    background-color: rgba(117, 218, 248, 0.774);
    border-radius: 10px;
    border: solid 4px blue;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    transition: .4s;
}

.task {
    /*min-height: 500px;*/
    background-color: rgb(40, 132, 160);
    border: solid 4px blue;
    width: 300px;
    border-radius: 20px;
    display: flex;
	flex-direction: column;
	justify-content: space-between;
    margin-bottom: 20px;
    align-items: center;
    text-align: center;
    transition: .4s;
}

.task__wrap-img {
	display: flex;
	align-self: flex-end;
	margin-top: 20px;
	width: 120px;
}

.task__wrap-img button {
	width: 100%;
	margin-left: 10px;
}

.task__wrap-img button * {
	transition: .4s;
}

.task__wrap-img button:hover * {
	color: #0f7fc9;
	fill: #005fcc;
}

.svg-edit path {
	fill:  rgb(131, 181, 252);
    transition: .4s;
}

.svg-complite path {
	fill:  rgb(131, 181, 252);
    transition: .4s;
}

.svg-del path {
	fill:  rgb(131, 181, 252);
    transition: .4s;
}

.card__title {
    color: whitesmoke;
    transition: .4s;
}

h4, h3, p {
    color: white;
    transition: .4s;
}

@media (max-width: 1312px) {
    .cards {
        flex-direction: column;
    }

    .all-content__inner {
        width: 100%;
    }

    .modal-container {
        width: 100%;
    }

    .main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card {
        margin-top: 20px;
    }
}

@media (max-width: 960px) {
    .header {
        flex-direction: column;
        height: 200px;
        margin-top: 20px;
    }
}

@media (max-width: 537px) {
    .modal-container__input-woker-form,
    .modal-container__redact-task {
        width: 100%;
    }
}