.nav_menu {
	font-size: 22px;
}

a {
	text-decoration: none;
	color: #000;
}

ul {
	list-style: none;
}

a:hover {
	font-size: 26px;
	color: blue;
	transition: 0.25s linear;
}

.hor_menu {
	display: flex;
	width: 400px;
	justify-content: space-between;
}

.hor_menu li {
	border: 1px solid black;
}

.lvl1 {
	font-size: 26px;
}

.lvl2 {
	font-size: 22px;
	list-style: circle;
}

.show_menu ul ul {
	display: none;
}

.show_menu {
	height: 150px;
}

.lvl3 {
	font-size: 18px;
	list-style: square;
}

.pagination {
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	width: 300px;
	display: flex;
	justify-content: space-between;
}

.pagin_elem {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 40px;
	background-color: grey;
	padding-left: 10px;
	padding-right: 10px;
}

.pagin_elem a:hover {
	font-size: 26px;
	color: blue;
	transition: 0.25s linear;
	text-decoration: underline;
}

.level_menu {
	list-style: disc;
}

.show_menu li:hover ul {
	display: block;
}

.menu_show {
	font-size: 24px;
}

.menu_show:hover {
	font-size: 18px;
	transition: 0.35s linear;
}

.social_networks {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 300px;
	background-color: #bdc3c7;
	height: 75px;
	border-radius: 5px;
}

.social {
	width: 50px;
	height: 50px;
	border-radius: 5px;
}

.vk {
	background: url(https://cdn.icon-icons.com/icons2/2429/PNG/512/vk_logo_icon_147212.png);
    background-size: cover;
}

.twitter {
	background: url(https://image.flaticon.com/icons/png/512/124/124021.png);
    background-size: cover;
}

.facebook {
	background: url(https://cdn.iconscout.com/icon/free/png-256/facebook-logo-2019-1597680-1350125.png);
    background-size: cover;
}