.item {
	height: 100px;
	width: 200px;
	background-color: green;
	border-radius: 7px;
	text-align: center;
	padding-top: 35px;
}

.grow_item {
	background-color: green;
	border-radius: 7px;
	text-align: center;
	padding-top: 35px;
	order: 3;
}

.grow_item2 {
	background-color: green;
	border-radius: 7px;
	text-align: center;
	padding-top: 35px;
	order: 1;
	flex-grow: 2;
}

.grow_item3 {
	background-color: green;
	border-radius: 7px;
	text-align: center;
	padding-top: 35px;
	order: 2;
	flex-grow: 3;
}

.display_flex_elem_str_or {
	display: flex;
	gap: 20px;
}

.display_flex {
	display: flex;
	gap: 20px;
}

html {
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
}